src/container/html/web/temp
src/package/statics/logs/*
src/package/statics/logs/*
dist/package/statics/logs/*
statics/*
_security/*
node_modules
.vscode
certs
.env
.log
.session
package-lock.json
dist/*
.gitmodules
rest.http
notes