src/container/services/LoadModuleServiceProvider.ts
src/container/views/nuxt.config.json
src/package/statics/logs/*
dist/package/statics/logs/*
statics/*
_security/*
node_modules
.vscode
certs
.env
.log
.session
package-lock.json
dist/*
.gitmodules
chasi.json
rest.http
nuxt.config.json
.nuxt
src/container/html/.api
src/container/html/.chasi
src/container/html/.out

