src/container/html/web/temp
src/package/statics/logs/*
src/package/statics/logs/*
dist/package/statics/logs/*
statics/*
_security/*
node_modules
.vscode
certs
.env
.log
.session
package-lock.json
dist/*
.gitmodules
rest.http
notes
src/container/prisma/client
sdk/*
api.spec.json

.claude/
docker/
drizzle/
prisma/
sdk/

api.sdk.json
api.spec.json
CLAUDE.node_modules
drizzle.config.*
